@import "../../../../../styles/colors";
@import "../../../../../styles/alignment";
@import "../../../../../styles/fonts";

.contacts-page {
  .footer {
    @include stretch-to-parent;
    border-top: 2px solid $accent-first-color;
    position: absolute;
    bottom: 0;
    left: 0;
    height: $footer-height;

    .footer-header {
      @include label-1;
      margin: 20px 0;
      text-align: center;
    }

    .contacts__list {
      max-width: 500px;
      margin: 0 auto;
      display: flex;
      justify-content: space-around;
      align-items: center;

      .contact-item {
        display: block;
        width: 48px;
        height: 48px;

        .img {
          color: $accent-second-color;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}