@import "../pageBase";
@import "src/styles/colors";
@import "src/styles/fonts";
@import "src/styles/inputs/buttons";
@import "src/styles/interractions";

.hello__content {
  @include page-base;
  display: grid;
  user-select: none;

  justify-content: center;
  align-items: center;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "image info";
  column-gap: 60px;

  .hello__page__image {
    position: relative;

    display: grid;
    align-self: center;
    justify-self: center;

    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "ie ."
        ". davinci"
        "pr .";
    padding: 10px;
    grid-area: image;
    align-items: center;
    justify-content: center;

    &_background {
      position: absolute;
      border-radius: 50%;
    }

    .ie,
    .davinci,
    .pr {
      max-width: 250px;
      max-height: 250px;
      z-index: 10;
    }

    .ie {
      grid-area: ie;
    }

    .davinci {
      grid-area: davinci;
    }

    .pr {
      grid-area: pr;
    }
  }

  .hello__page__info {
    @include label-1;
    grid-area: info;
    word-wrap: break-word;
    display: flex;
    row-gap: 60px;
    flex-direction: column;

    .heading {
      font-size: 48px;
      line-height: 79px;
      font-weight: bold;
    }

    .contact {
      @extend %button-base;
      @include interactive-background($accent-second-color);
      @include label-1;

      a {
        color: inherit;
        font: inherit;

        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
      }
    }
  }
}