@import "src/styles/alignment";
@import "src/styles/colors";
@import "src/styles/fonts";

.header {
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  height: $header-height;
  width: 100%;
  padding: 2px;

  .header-outer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .icon {
      border-radius: 50%;
      border: 2px $accent-second-color solid;
      width: 48px;
      height: 48px;
    }
  }

  &__navigation {
    @include stretch-to-parent;
    max-width: 600px;
    display: flex;
    justify-content: space-around;

    &__item {
      @include label-1;
      color: inherit;
      text-transform: uppercase;
      cursor: pointer;
    }
  }
}