$background-first-color: #280c49;
$background-second-color-dark: #733ac6;
$background-second-color-light: #e5d6ff;

$foreground-primary-dark-color: #42009e;
$foreground-primary-light-color: #fff;
$foreground-secondary-color: #727272;

$accent-second-color: #ff0082;
$accent-first-color: #733AC6;

$adjust-step: 5;

@function highlight($color, $level){
  @return adjust-color($color, $red: $adjust-step*$level, $green: $adjust-step*$level, $blue: $adjust-step*$level)
}

@function blackout($color, $level){
  @return adjust-color($color, $red: -$adjust-step*$level, $green: -$adjust-step*$level, $blue: -$adjust-step*$level)
}