@import "src/styles/colors";
@import "src/styles/interractions";
@import "src/styles/alignment";

.side-navigator {
  @include flex(true);
  justify-content: flex-end;
  align-items: flex-end;
  position: absolute;
  right: 20px;
  row-gap: 20px;
  top: calc(50% - 168px + 50px);
  z-index: 1000;
}