@import "src/styles/colors";
@import "src/styles/alignment";

.password-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex !important;
  align-items: center;

  input {
    background: transparent;
    font: inherit;
  }

  .toggle-visibility-icon {
    position: absolute;
    width: 24px;
    height: 24px;
    right: 24px;
    top: 12px;
    user-select: none;
  }
}