@import "../../../styles/alignment";
@import "../../../styles/colors";

.single-page {
  @include stretch-to-parent;
  padding-top: $header-height;
  overflow: hidden;
  position: relative;
  transition: transform 1s ease-in-out;
}