@import "../../../../styles/alignment";

.work-page {
  .events-bar {
    @include stretch-to-parent;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 0.33fr 0.33fr 0.33fr;
  }
}