@import "src/styles/colors";
@import "src/styles/fonts";
@import "src/styles/interractions";
@import "src/styles/inputs/buttons";

%base-contact-input {
  padding: 15px 20px;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 2px solid transparent;

  &:focus {
    border-color: $accent-second-color;
  }

  &:invalid {
    border-color: $danger-color;
  }
}

.contacts-page__form {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-rows: 50px minmax(50px, 175px) auto auto;
  grid-template-columns: auto auto;
  grid-template-areas:
        "name email"
        "message message"
        "error error"
        "submit submit";
  row-gap: 20px;
  column-gap: 30px;

  &__name,
  &__email,
  &__message {
    @extend %base-contact-input;
  }

  &__error {
    @include label-2;
    grid-area: error;
    color: $danger-color;
  }

  &__name {
    grid-area: name;
  }

  &__email {
    grid-area: email;
  }

  &__message {
    grid-area: message;
    align-self: stretch;
    justify-self: stretch;
    resize: none;
  }

  &__submit {
    grid-area: submit;
    @extend %button-base;
    @include interactive-background($accent-first-color);
    @include label-1;
    justify-self: center;
  }
}